.Choices{
    background-color: rgb(255, 230, 0);
    border: solid red;
    width: 200px;
    height: 140px;
    margin-right: 10px;
    margin-top: 0;
    float: left;
    position: static;
}

p{
    text-align: center;
    margin: 0;
    
}

h2{
    margin: 0;
}


.YC{
    background-color: green;
    height: 180px;
    width: 500px;
    position: static;
    margin-top: 170px;
}

.EA{
    background-color: green;
    height: 180px;
    width: 700px;
}

.FS{
    background-color: green;
    width: 200px;

}

.DEF{
    background-color: green;
    height: 200px;
    width: 500px;
}

